:root {
  --gray1: rgb(33, 37, 41);
  --gray2: rgb(134, 142, 150);
  --gray3: rgb(233, 236, 239);
  --gray4: rgb(248, 249, 250);
  --primary1: rgb(253, 53, 126);
  --primary2: rgb(224, 100, 204);
  --secundary1: rgb(3, 184, 152);

  --font-primary: "Nunito", sans-serif;
}
